html,body {
 margin: 0;
 padding: 0;
}

* { 
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container {
    display: grid;
    min-height: 100vh;
    /* grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 50px auto 50px; */
    grid-template-areas: "header header header"
                         "nav nav search"
                         "main main aside"
                         "main main aside"
                         "main main aside"
                         "main main aside"
                         "footer footer footer";

}

header {
    background: #333;
    color:white;
    padding: 20px;
    /* grid-column:span 2; */
    grid-area: header;

}
nav {
    background: #444;
    color:#fff;
    padding:20px;
    grid-area: nav;
}
.search {
background: #666;
    color:#fff;
    padding:20px;
    grid-area: search;
}
main {
background: #f0f0f0;
    /* color:#fff; */
    padding:20px;
    grid-area: main;
}

aside {
    background: #444;
    /* color:#fff; */
    padding:20px;
    grid-area: aside;
}
footer {
    background: #666;
    color:white;
    padding: 20px;
    /* grid-column: span 2; */
    grid-area: footer;

}

@media (max-width: 768px) {
    .container {
        grid-template-areas: 
        "header"
        "search"
        "aside"
        "main"
        "main"
        "main"
        "main"
        "footer";
    }
    nav{
        display: none;
    }
}

