html,body {
    margin: 0;
    padding: 0;

}

* {
   box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    max-width: 600px;
    margin: 30px auto;
}
/* .container :is(h1,h2,p) {
    color: blue;
} */
/* same as
 container h1 {}
.container h2 {}
.container p{}  */
p a {
    color: green;

}
p :is(a) {
    color:red;
}

a:is(:hover, :focus) {
    background-color: pink;
}
/* where is lower than is */
 .container :where(h1,h2,p) {
    color:green;
} 

/* form child select parent ,upward selection*/
.container :has(p,a) {
    color: red;
    border: 1px solid blue;
}