html,body{
    margin:0;
    padding:0;

}
* {
box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2;
}
.container {
    max-width: 600px;
    margin: 30 auto;
    padding: 2rem;
}
.container > p {
    font-weight: bold;
    color: red;
    margin-bottom: 10px;

}
.container > ul {
    list-style: none;

}
.container > a {
    color:green;
}
/* immediate sibling of h1 */
.container h1 + a {
    color:cyan;
    font-weight: bold;

}
/* sibling  after h1 */
.container h1 ~ a {
    color:coral;
}
/* all sibling div to the direct ul cildren of the container */
.container > h1 ~ div + a {
    background-color: rgb(3, 74, 67);
}
/* n-child example */
/* first chilld */
ul li:first-child {
    background-color: cyan;

}
ul li:last-child {
    background:coral;
}
 ul li:nth-child(odd) {
    background:lightgreen;

 }
 ul li:nth-child(even) {
    background:yellow;
 }
 ul li:nth-child(8){
    background:red;
 }
 ul li:nth-child(5n) {
    background: gold;
 }
 .container h2 a:only-child{
    background:pink;
 }
 .container div:only-of-type {

    background:lightsalmon;
 }
    
 